@{
    ViewData["Title"] = "Chat";
    var loggedInUser = ViewBag.LoggedInUser;
    var sessionId = ViewBag.SessionId;
}

<head>
    <link rel="stylesheet" href="~/css/Chat.css" />
    <title>Chat Application</title>
</head>
<body>
    <main>
        <div id="chatContainer">
            <div id="user-list">
                <h2 id="friendsText">Users</h2>
                <ul id="userList">
                    <li>
                        <a href="#" id="groupChatLink" class="user-link">Group Chat</a>
                    </li>
                    @foreach (var user in ViewBag.Users)
                    {
                        <li>
                            <span class="status-indicator @((user.Username == loggedInUser) ? "online" : "offline")"></span>
                            <a href="#" class="user-link" data-username="@user.Username">@user.Username</a>
                        </li>
                    }
                </ul>
            </div>
            <div class="chat-window">
                <div id="upperNameField">
                    <div id="usernameContainer">
                        <p id="usernameText">Group Chat</p>
                    </div>
                    <div id="usernameTextContainer">
                        <p id="websiteName">ChatGpt</p>
                    </div>
                </div>
                <div id="chatMessagesContainer">
                    <ul id="messageList"></ul>
                </div>
                <div id="chatInput">
                    <input type="hidden" id="loggedInUser" value="@loggedInUser" />
                    <input type="hidden" id="sessionId" value="@sessionId" />
                    <input type="text" id="messageInput" placeholder="Type your message here..." />
                    <button id="sendButton" disabled>Send</button>
                </div>
                <div id="logoutContainer">
                    <form asp-action="Logout" method="post">
                        <button type="submit" id="logoutButton">Logout</button>
                    </form>
                </div>
            </div>
        </div>
    </main>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/microsoft-signalr/5.0.9/signalr.min.js"></script>
    <script src="~/js/chat.js"></script>
</body>
